{% load static %}

<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meu Carrinho</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/ver_carrinho.css' %}">
</head>
<body>
    <div class="container mt-5">
        <h1 class="mb-4">Meu Carrinho</h1>
        <table class="table">
            <thead>
                <tr>
                    <th>Produto</th>
                    <th>Quantidade</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
                {% for item in itens_carrinho %}
                <tr>
                    <td>{{ item.produto.nome }}</td>
                    <td>{{ item.quantidade }}</td>
                    <td>R$ {{ item.total }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="text-right">
            <strong>Total: R$ {{ total_carrinho }}</strong>
        </div>
        <form method="post" action="{% url 'realizar_pedido' %}">
            {% csrf_token %}
            <button type="submit" class="btn btn-primary mb-2">Realizar Pedido</button>
        </form>
    </div>
</body>
</html>
